.photo-grid {
  padding-top: 92px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 284px);
  gap: 16px;
}

@media (max-width: 1044px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
  }
}

@media (max-width: 788px) {
  .photo-grid {
    padding-top: 88px;
    grid-template-columns: repeat(auto-fit, 352px);
    gap: 16px;
  }
}

@media (max-width: 400px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 12px;
  }
}

@media (max-width: 340px) {
  .photo-grid {
    padding-top: 64px;
    grid-template-columns: repeat(auto-fit, 288px);
    gap: 12px;
  }
}
