.header__lang {
  display: flex;
  gap: 18px;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  padding-bottom: 5px;
  list-style-type: none;
}

@media (max-width: calc(400px + 20px)) {
  .header__lang {
    gap: 18px;
    padding-bottom: 7px;
    padding-right: 3px;
  }
}
