.footer__nav_item_inline {
  display: inline;
  margin-right: 18px;
}

.footer__nav_item_inline:last-child {
  margin-right: 0;
}

@media (max-width: 320px) {
  .footer__nav_item_inline {
    display: table;
    margin-bottom: 32px;
  }
  .footer__nav_item_inline:last-child {
    margin-bottom: 48px;
  }
}
