.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding-top: 28px;
  margin: 0 auto;
}

@media (max-width: 1044px) {
  .header {
    max-width: 928px;
  }
}

@media (max-width: 788px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 420px) {
  .header {
    padding: 16px 16px 0;
  }
}
