.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  margin-left: 148px;
}

@media (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 0;
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding-top: 68px;
    margin: 0 16px 0;
  }
}
