.intro {
  max-width: 690px;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  margin-left: 147px;
}

@media (max-width: calc(1024px + 20px)) {
  .intro {
    margin-left: 48px;
  }
}

@media (max-width: calc(768px + 20px)) {
  .intro {
    max-width: 720px;
    margin: 0 24px 0;
    padding-top: 88px;
  }
}

@media (max-width: calc(320px + 20px)) {
  .intro {
    max-width: 288px;
    padding-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
