.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: auto;
}


@media (max-width: calc(1024px + 20px)) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media (max-width: calc(768px + 20px)) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: calc(320px + 20px)) {
  .cover {
    min-height: 200px;
  }
}
