.cover {
  max-width: 1184px;
  min-height: 740px;
  margin: auto;
}


@media (max-width: 1044px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 788px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 340px) {
  .cover {
    min-height: 200px;
  }
}
