.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 5px;
}

@media (max-width: 788px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (max-width: 340px) {
  .lead__caption {
    margin-left: 16px;
  }
}
