.footer {
  max-width: 1184px;
  padding-top: 92px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1044px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 788px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media (max-width: 720px) {
  .footer {
    max-width: 58%;
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  .footer {
    max-width: 220px;
    padding-top: 62px;
    padding-bottom: 24px;
    margin-left: 16px;
  }
}
