.footer {
  max-width: 1184px;
  padding-top: 92px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    padding-top: 62px;
    padding-bottom: 16px;
    flex-direction: column;
  }
}
